/* CORE STYLES */
:root 
{
  --primary-color: rgba(169,169,169, 0.75);
  --overlay-color: rgba(112,128,144, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-top:5%;
}

article h2
{
    font-size: 3rem;
}

article p
{
    font-size: 1.3rem;
}

.overlay
{
    background: var(--primary-color);
    color: #fff;
    height: 100%;
    position: absolute;
}

